<h1>Authors</h1>
<p>Username Email</p>
<ul id="authors">
  <% @authors.each do |author| %>
    <li><%= link_to "#{author.username} #{author.email}", author, class: 'author-title' %></li>
  <% end %>
</ul>
<br/>

<p><%= link_to 'New Author', new_author_path %></p>
